<div class="app flex flex-col h-full bg-bottom {{ smBgPosition + ' ' + mdBgPosition }}"
     [ngClass]="{ 'bg-no-repeat bg-cyan-800': isPlayfulMode }">
  <psy-header></psy-header>
  <main class="app__main flex flex-col flex-1">
    <div class="app__content-container flex flex-col flex-1">
      <router-outlet></router-outlet>
    </div>
  </main>
  <psy-footer></psy-footer>
</div>
