<section class="hero flex justify-center">
  <div class="hero__grid grid grid-cols-1 md:grid-cols-5 gap-4">
    <div class="hero__cta-box col-span-2 flex flex-col gap-12 self-center text-white">
      <h1 class="hero__heading text-center md:text-left text-4xl sm:text-5xl md:text-4xl lg:text-6xl font-bold">Free tests that<br>take you further</h1>
      <p class="hero__description text-left sm:text-center md:text-left leading-7">Psychological tests for every career question and<br>
        personal development. From career choice to IQ, for<br>
        personality and job test assessment practice.</p>
      <a class="hero__cta-link block" [routerLink]="['tests', 'are-you-an-introvert-or-an-extrovert']">
        <button psyButton class="hero__cta-button w-full">Start by taking<br>the personality test</button>
      </a>
    </div>
    <div class="hero__sketch-box col-span-3">
      <img class="hero__sketch-img ml-auto" src="/assets/images/bg.svg" alt="Test sketch" />
    </div>
  </div>
</section>
