<header class="header flex items-center justify-between py-8 px-4 md:px-8 lg:px-16 bg-cyan-800 text-white">
  <div class="grid grid-cols-3 gap-16 items-center w-full">
    <a [routerLink]="'/'"><h1 class="header__title text-2xl font-bold">PSYTEST</h1></a>
    <nav class="nav col-span-2">
      <ul class="nav__list flex justify-end">
        <li class="nav__list-item">
          <a [routerLink]="['/', 'tests', 'history']">
            <button psyButton color="secondary">History</button>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
