<div class="tests-history flex-1 flex flex-col bg-sky-50">
  <psy-page-layout>
    <h1 heading class="tests-history__heading mb-16 text-4xl font-bold text-center capitalize">Your tests history</h1>
    <div body class="tests-history__layout-container">
      <ul *ngIf="history.length > 0 else noHistoryTmpl" class="test-history__list flex flex-wrap -mt-8">
        <li *ngFor="let testItem of history; trackByProperty: 'id'"
            class="test-history__list-item relative mt-8 mr-24 last:mr-0">
          <psy-test-item class="relative z-20" [testItem]="testItem"
                         (click)="testItem.active = !testItem.active"></psy-test-item>
          <ng-container *ngTemplateOutlet="historyListTmpl; context: {testItem}"></ng-container>
        </li>
      </ul>
    </div>
  </psy-page-layout>
</div>

<ng-template #noHistoryTmpl>
  <p class="text-center text-2xl">No tests taken yet 😕, you can<br><br><a
    [routerLink]="['/', 'tests', 'are-you-an-introvert-or-an-extrovert']">
    <button psyButton class="capitalize text-xl">try the personality one!</button>
  </a></p>
</ng-template>

<ng-template #historyListTmpl let-testItem="testItem">
  <div class="test-history__history-list max-h-full py-3 pl-7 pr-3 absolute inset-0 translate-x-0 z-10 bg-white rounded-tr-lg rounded-br-lg bg-white border overflow-auto shadow-md transition-all"
       [ngClass]="{'translate-x-full mr-2': testItem.active}">
    <h3 class="test-history__history-list-heading font-bold pb-2 mb-4 border-b">Choose date:</h3>
    <a *ngFor="let historyItem of testItem.items"
       class="test-history__item-link hover:text-cyan-800 hover:underline"
       [routerLink]="['/', 'tests', testItem.slug, 'result', historyItem.token]">
      <span class="block mt-2 text-md">{{ historyItem.date | date: 'MMM dd, hh:mm a' }}</span>
    </a>
  </div>
</ng-template>
