<div class="tests">
  <div class="tests__hero-container py-8 px-16">
    <psy-tests-hero-section></psy-tests-hero-section>
  </div>
  <div class="tests__page-layout-container bg-white mt-0 md:mt-24">
    <psy-page-layout>
      <h1 heading class="tests__heading mb-16 text-4xl font-bold text-center capitalize">Pick your test</h1>
      <psy-test-list body></psy-test-list>
    </psy-page-layout>
  </div>
</div>
