<ng-container *ngIf="{isLoading: isLoading$ | async, tests: tests$ | async} as state">
  <ng-container [ngSwitch]="true">
    <div *ngSwitchCase="state.isLoading" class="loading text-center">
      <psy-loader></psy-loader>
    </div>
    <ul *ngSwitchCase="!state.isLoading && state.tests!.length > 0" class="test-list flex flex-wrap justify-around gap-4">
      <li *ngFor="let testItem of state.tests; trackByProperty: 'id'"
          class="test-list__item">
        <ng-container *ngIf="testItem.disabled else routableTestItemTmpl">
          <psy-test-item class="block h-full" [testItem]="testItem"></psy-test-item>
        </ng-container>

        <ng-template #routableTestItemTmpl>
          <a class="test-list__link block h-full" [routerLink]="['tests', testItem.slug]">
            <psy-test-item class="flex h-full" [testItem]="testItem"></psy-test-item>
          </a>
        </ng-template>
      </li>
    </ul>
    <p *ngSwitchCase="!state.isLoading && state.tests!.length === 0"
       class="text-center text-lg">No tests available right now :(, please try again later</p>
  </ng-container>
</ng-container>
