<div class="options-picker flex flex-col justify-center">
  <ol class="options-picker__list">
    <li *ngFor="let option of options; let i = index; trackByProperty: 'id'"
        class="options-picker__list-item mb-2 last:mb-0">
      <psy-test-option-item [option]="option"
                            [disabled]="disabled"
                            (optionChange)="selectedOption = option"
                            [isSelected]="option.id === selectedOption?.id"
                            [orderLetter]="i + 65 | unicodeToCharacter"></psy-test-option-item>
    </li>
  </ol>
</div>
