<div class="test flex flex-col flex-1 bg-sky-50">
  <psy-page-layout *ngIf="{test: test$ | async, isLoading: isLoading$ | async, activeIdx: activeIdx$ | async} as state">
    <div body class="test__layout-container grid grid-cols-3 gap-16 items-center">
      <div class="test__template-container col-span-3 lg:col-span-2 relative">
        <psy-test-template>
          <ng-container header>
            <h3 [ngSwitch]="true" class="test__title text-xl font-medium">
              <ng-container [ngSwitch]="true">
                <ng-container *ngSwitchCase="state.isLoading">Loading...</ng-container>
                <ng-container *ngSwitchCase="!state.isLoading && !!state.test">{{ state.test!.title }}</ng-container>
                <ng-container *ngSwitchDefault>Error</ng-container>
              </ng-container>
            </h3>
            <span [ngSwitch]="true" class="test__question-counter text-gray-400">
              <ng-container *ngSwitchCase="state.isLoading">...</ng-container>
              <ng-container *ngSwitchCase="!state.isLoading && !!state.test">
                <span class="test__question-lbl hidden md:inline-block">Question</span> {{ state.activeIdx! + (state.test ? 1 : 0) }} of {{ state.test!.questions.length }}
              </ng-container>
              <ng-container *ngSwitchDefault>No questions :(</ng-container>
            </span>
            <psy-test-stepper-progress *ngIf="state.test"
                                       class="test__question-progress"
                                       [current]="state.activeIdx!"
                                       [total]="state.test!.questions.length"
            ></psy-test-stepper-progress>
          </ng-container>
          <ng-container body>
            <div [ngSwitch]="true"
                 class="test__body-container text-center">
              <ng-container *ngSwitchCase="state.isLoading" [ngTemplateOutlet]="loader"></ng-container>
              <psy-test-stepper *ngSwitchCase="!state.isLoading && !!state.test"
                                class="text-left"
                                [next$]="next$"
                                [prev$]="prev$"
                                [submit$]="submit$"
                                [test]="state.test!"
                                [activeIdx]="state.activeIdx!"
                                (activeIdxChange)="setActiveIdx($event)"
                                (success)="onSuccess($event, state.test!)">
              </psy-test-stepper>
              <ng-container *ngSwitchDefault>Could not fetch test detail, please try again later</ng-container>
            </div>
          </ng-container>
          <ng-container footer>
            <button
              psyButton
              color="secondary"
              class="test__action test__action--prev"
              [disabled]="state.isLoading || !state.test"
              (click)="prev$.next()">Previous
            </button>
            <ng-container [ngSwitch]="true">
              <ng-container *ngSwitchCase="state.isLoading" [ngTemplateOutlet]="nextBtnTmpl"></ng-container>
              <ng-container *ngSwitchCase="!state.isLoading && !!state.test && (state.activeIdx! < state.test!.questions.length - 1)" [ngTemplateOutlet]="nextBtnTmpl"></ng-container>
              <ng-container *ngSwitchDefault [ngTemplateOutlet]="finishBtnTmpl"></ng-container>
            </ng-container>
            <ng-template #nextBtnTmpl>
              <button
                psyButton
                class="test__action test__action--next"
                [disabled]="state.isLoading || !state.test"
                (click)="next$.next()">Next
              </button>
            </ng-template>
            <ng-template #finishBtnTmpl>
              <button
                psyButton
                class="test__action test__action--finish"
                (click)="submit$.next()"
                [disabled]="state.isLoading || !state.test">
                Finish the test
              </button>
            </ng-template>
          </ng-container>
        </psy-test-template>
        <psy-overlay *ngIf="isSubmitting$ | async">
          <ng-container *ngTemplateOutlet="loader"></ng-container>
        </psy-overlay>
      </div>
      <psy-test-suggestions class="col-span-3 lg:col-span-1"></psy-test-suggestions>
    </div>
  </psy-page-layout>
</div>


<ng-template #loader>
  <div class="text-center">
    <psy-loader></psy-loader>
  </div>
</ng-template>
