<div class="test-layout flex flex-col rounded-md shadow-xl border bg-white">
  <div class="test-layout__header flex justify-between relative p-4 border-b">
    <ng-content select="[header]"></ng-content>
  </div>
  <div class="test-layout__body p-8">
    <ng-content select="[body]"></ng-content>
  </div>
  <div class="test-layout__footer flex justify-between p-4 border-t">
    <ng-content select="[footer]"></ng-content>
  </div>
</div>
