<div class="test-result flex flex-col flex-1 bg-sky-50">
  <psy-page-layout>
    <div body class="test-result__layout-container grid grid-cols-3 gap-16 items-start">
      <psy-test-template *ngIf="{ result: result$ | async, isLoading: isLoading$ | async } as state"
                         class="col-span-3 md:col-span-2">
        <ng-container header>
          <h3 [ngSwitch]="true" class="test-result__title text-xl font-medium">
            <ng-container *ngSwitchCase="state.isLoading">Loading...</ng-container>
            <ng-container *ngSwitchCase="!state.isLoading && !!state.result">{{ state.result!.test.title }}</ng-container>
          </h3>
          <span class="test__result-label text-gray-400">Test results</span>
          <div class="absolute bottom-0 left-0 h-1 bg-[#e19435] w-full transition-all"></div>
        </ng-container>
        <ng-container body>
          <h3 class="test-result__heading test-result__heading--3 text-lg text-center italic">Your Results</h3>
          <ng-container [ngSwitch]="true">
            <ng-container *ngSwitchCase="state.isLoading" [ngTemplateOutlet]="loader"></ng-container>
            <ng-container *ngSwitchDefault>
              <h2 class="test-result__heading test-result__heading--2 my-6 text-center text-4xl font-semibold">
                {{ state.result ? state.result!.heading : 'Error' }}
              </h2>
              <p class="test-result__description leading-7" [innerHTML]="state.result ? state.result!.text : 'Could not fetch the result, please make sure the URL is correct and try again later'"></p>
            </ng-container>
          </ng-container>
        </ng-container>
        <ng-container footer>
          <div #footerHolder class="test-result__footer-holder flex-1 flex flex-col">
            <div class="test-result__actions flex justify-between"
                 [ngClass]="{'mb-8': showAnswers}">
              <button class="test__action test__action--show-answers"
                      psyButton
                      color="secondary"
                      [disabled]="state.isLoading || !state.result || !isOwner(state.result.test)"
                      (click)="toggleAnswers(footerHolder)">{{ showAnswers ? 'Hide' : 'Show' }} my answers</button>
              <a [routerLink]="['/', 'tests', 'are-you-an-introvert-or-an-extrovert']">
                <button psyButton class="test__action test__action--retake">Retake the test</button>
              </a>
            </div>

            <div *ngIf="showAnswers" class="test-result__answers flex flex-col">
              <ul class="test-result__answers-list">
                <li *ngFor="let question of state.result!.test.questions; let i = index; trackByProperty: 'id'"
                    class="test-result__answers-list-item border-b pb-8 last:pb-0 mb-8 last:mb-0 last:border-none">
                  <h4 class="stepper__question-title text-xl font-semibold mb-6">
                    {{ (i + 1) + '. ' + question.title }}
                  </h4>
                  <psy-test-question-options-picker
                    [disabled]="true"
                    [selectedOption]="state.result!.normalizedAnswers[question.id]"
                    [options]="question.options">
                  </psy-test-question-options-picker>
                </li>
              </ul>
            </div>
          </div>
        </ng-container>
      </psy-test-template>
      <psy-test-suggestions class="col-span-3 md:col-span-1"></psy-test-suggestions>
    </div>
  </psy-page-layout>
</div>

<ng-template #loader><div class="text-center mt-6"><psy-loader></psy-loader></div></ng-template>
