<div class="test-item flex-1 flex flex-col w-48 rounded-lg drop-shadow-md bg-white border overflow-hidden scale-100 transition-transform"
     [ngClass]="{
      'hover:opacity-50 cursor-not-allowed': testItem.disabled,
      'hover:cursor-pointer hover:scale-110': !testItem.disabled
     }"
     [title]="testItem.disabled ? 'This test is unavailable now' : ''">
  <img class="test-item__img" [src]="testItem.image" alt="Test icon">
  <span class="test-item__name flex-1 p-4 text-center text-black text-md font-medium leading-6">
    {{ testItem.title }}
  </span>
</div>
