<div class="test-option-item flex items-center p-3 text-black border border-gray-400 rounded bg-gray-50"
    [ngClass]="{
          '!border-[#df9237] bg-[#df9237] font-medium': isSelected,
          'hover:bg-gray-200': !isSelected && !disabled,
          'hover:cursor-pointer': !disabled
        }"
    (click)="!disabled && optionChange.emit()">
      <span class="test-option-item__order py-1 px-2 mr-2.5 font-normal border border-gray-400 bg-gray-200"
            [ngClass]="{'bg-transparent border-black': isSelected}">{{ orderLetter }}</span>
      <span class="test-option-item__text">{{ option.text }}</span>
</div>
