<footer class="footer flex justify-between items-center py-8 px-4 md:px-8 lg:px-16 bg-cyan-800 text-white text-sm">
  <p class="footer__rights">{{ year }} © PSYTEST - Abdulrahma Hashem. All rights reserved.</p>
  <span class="footer__version">Version 1.0.0</span>
</footer>
