<div class="page-layout flex flex-col px-4 py-16 md:px-8 lg:px-16">
  <ng-content select="[heading]"></ng-content>
  <div class="page-layout__body p-4">
    <ng-content select="[body]"></ng-content>
  </div>
</div>
