<div *ngIfAnimation="activeQuestion" @fadeIn class="stepper">
  <h4 class="stepper__question-title text-xl font-semibold mb-6"
      [ngClass]="{'error-shake': showErrorMessage$ | async}">
    {{ (activeIdx + 1) + '. ' + activeQuestion!.title }}
    <span *ngIf="showErrorMessage$ | async"
          class="stepper__question-notifier text-sm text-red-600 italic">* This question is required</span>
  </h4>
  <psy-test-question-options-picker
    [selectedOption]="answers![activeQuestion!.id]"
    (selectedOptionChange)="setAnswer($event)"
    [options]="activeQuestion!.options">
  </psy-test-question-options-picker>
</div>
